<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecc.projetvesrion10" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name=".content_provider_restaurant"
            android:authorities="com.example.ecc.projetvesrion10.rest"
            android:enabled="true"
            android:exported="true" >
        </provider>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_ajout_restaurant"
            android:label="@string/title_activity_activity_ajout_restaurant" >
        </activity>
        <activity
            android:name=".activity_recherche_restaurant"
            android:label="@string/title_activity_activity_recherche_restaurant" >
        </activity>
        <activity
            android:name=".activity_modifier_restaurant"
            android:label="@string/title_activity_activity_modifier_restaurant" >
        </activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>


</manifest>
